<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>insurance</servlet-name>
        <servlet-class>insurance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustReg</servlet-name>
        <servlet-class>CustReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookHotel</servlet-name>
        <servlet-class>BookHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCar</servlet-name>
        <servlet-class>BookCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookFlight</servlet-name>
        <servlet-class>BookFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTrain</servlet-name>
        <servlet-class>BookTrain</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insurance</servlet-name>
        <url-pattern>/insurance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustReg</servlet-name>
        <url-pattern>/CustReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookHotel</servlet-name>
        <url-pattern>/BookHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCar</servlet-name>
        <url-pattern>/BookCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookFlight</servlet-name>
        <url-pattern>/BookFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTrain</servlet-name>
        <url-pattern>/BookTrain</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
