@import "reset.css";
@import "skeleton.css";
@import "superfish.css";
@import url(//fonts.googleapis.com/css?family=Patua+One);


html {
	width: 100%;

}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

body {
	position: relative;
	min-width: 960px;
	background: #efefef;
    color: #aaaaaa;
    font: 13px/18px 'Trebuchet MS', Arial, Helvetica, sans-serif;
}


	strong {
		font-weight: 700;
	}

address {
	font-style: normal;
}

p {
	margin-bottom: 18px;
}

p.p1 {
    margin-bottom: 15px;
}


input {
	border-radius: 0 !important;
	outline: none !important;
}


img {
	max-width: 100%;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', cursive;
	color: #fff;
	font-weight: 100;
}

h2 {
    font-size: 50px;
    line-height: 50px;
    padding-top: 124px;
    letter-spacing: 1px;
    margin-bottom: 29px;
}

h3 {
    padding-top: 149px;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #1f1f1f;
    margin-bottom: 27px;
}

.mb1 {
    margin-bottom: 25px;
}

h3.head1 {
    padding-top: 56px;
}

h3.head2 {
    padding-top: 65px;
}





/****Lists****/


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list {
    margin-bottom: 22px;
}

ul.list  li {
    color: #6f6f6f;
    padding-left: 15px;
    background: url(../images/marker1.png) 0 7px no-repeat;
}   

ul.list  li+li {
    margin-top: 5px;
}

ul.list1 li .count {
    position: relative;
    top: -2px;
    float: left;
    font: 18px/18px 'Patua One', cursive;
    color: #d6371f;
    min-width: 20px;
}

ul.list1 li+li {
    margin-top: 18px;
}
/****Links****/


a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: blue;
}


a.btn {
    color: #d6371f;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
    font: 12px/16px 'Patua One', cursive;
    text-decoration: underline;
}


a.btn:hover {
    color: #1f1f1f;
}
/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pad1 {
}


.img_inner {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 23px;
	margin-top: 7px;
}



.fleft {
	float: left;
	width: auto !important;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 4px;
}


.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.nowrap {
    white-space: nowrap;
}
/*header*/

header {
	display: block;
    background: url(../images/header_img.jpg) center bottom no-repeat #d6371f;
}

header h1 {
	position: absolute;
	z-index: 999;
	text-align: center;

}


header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 140px;
    height: 162px;
	font-size: 0;
	line-height: 0;
	
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}



#search {
    position: relative;
    width: 495px;
    margin-bottom: 94px;
}


a.link1 {
    font: 16px/16px 'Patua One', cursive;
    color: #fff;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 9px 55px 10px 25px;
    display: inline-block;
    background: url(../images/search_icon.png) right 0 no-repeat #1f1f1f;
}

#search .fright strong a {
    color: #fff;
    text-decoration: underline;
}

#search .fright strong a:hover {
    text-decoration: none;
}

#search  a.link1:hover {
    cursor: pointer;
    color: #1f1f1f;
    background-color: #fff;
}

a.link1:hover {
    cursor: pointer;
    color: #1f1f1f;
    background-color: #efefef;
}



#search input {
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
     -webkit-appearance: none;
    display: block;
    float: left;
    width: 300px;
    background: #fff;
    color: #adadad;
    font: bold 13px/18px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    height: 35px;
    padding: 8px 12px 9px 12px;

}

.autor  {
    text-align: right;
}
.autor a {

    font: 16px/16px 'Patua One', cursive;
    color: #d6371f;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 113px;
    text-align: center;
    display: inline-block;
    padding: 18px 10px 22px;
}

.autor a:hover {
    background-color: #d6371f;
    color: #fff;
}

.links  {
    width: 300px;
    margin-top: -60px;
    overflow: hidden;
    background-color: #d6371f;
}

.links a {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    font: 12px/16px 'Patua One', cursive;
    display: block;
    text-transform: uppercase;
    color: #fff;
    background-color: #e7432b;
    padding: 22px 0 21px 58px;
    float: left;
}

.links a:hover {
    color: #d73820;
    background-color: #fff;
}

.links a:hover:after {
    
    background-position: 0 bottom;
}

.links a:after {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    height: 59px;
    width: 59px;
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
}

.ic1:after {
    background: url(../images/icon1.png) 0 0 no-repeat;
}

.ic2:after {
    background: url(../images/icon2.png) 0 0 no-repeat;
}

.ic3:after {
    background: url(../images/icon3.png) 0 0 no-repeat;
}

.ic4:after {
    background: url(../images/icon4.png) 0 0 no-repeat;
}

.ic5:after {
    background: url(../images/ic5.png) 0 0 no-repeat;
}

.ic6:after {
    background: url(../images/ic6.png) 0 0 no-repeat;
}


.ic7:after {
    background: url(../images/ic7.png) 0 0 no-repeat;
}

.ic8:after {
    background: url(../images/ic8.png) 0 0 no-repeat;
}

.links a+a {
    width: 49.5%;
    padding-left: 55px;
    margin-left: 1px;
}

.clear+a:after, .clear+a+a:after {
    height: 56px;
}

.clear+a, .clear+a+a {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 1px;
}
/**Content**/

.content {
	padding-bottom: 95px;
    background-color: #fff;

}

.content h2 {
    padding-top: 40px;
    color: #d6371f;
    padding-bottom: 1px;
}

.content h2 span {
    padding-top: 2px;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
    display: block;
}

.page1  .content {
    padding-bottom: 43px;
}

.col1 {
    color: #d6371f;
}


.col1 a:hover, a.col1:hover {
    color: #1f1f1f;
}

.col2 {
    color: #1f1f1f;
}

.banner {
    background: url(../images/ban1_img.png) right center no-repeat;
    display: block;
    margin-top: 49px;
    letter-spacing: 1px;
    padding:  22px 0 27px 25px;
    border: 1px solid #e7e8e8;
    font: 28px/30px 'Patua One', cursive;
    color: #1f1f1f;

}



.banner:hover {
    background-position: 200% 0;
    color: #fff !important;
    border-color: #d6371f;
    background-color: #d6371f;

}

.banner:hover span {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    color: #fff;
}

.banner+.banner {
    background-image: url(../images/ban2_img.png);
    margin-top: 26px;
}

.nav {
    margin-bottom: 1px;
    overflow: hidden;
}

.nav li {
    float: left;
    font: 16px/16px 'Patua One', cursive;
}

.nav li+li {
    margin-left: 1px;
}

.nav li a {
    min-width: 96px;
    text-align: center;
    text-transform: uppercase;
    color: #1f1f1f;
    padding: 16px 16px 17px;
    letter-spacing: 1px;
    display: block;
    background-color: #ebebeb;
}

.nav li a:hover, .nav li.selected a {
    background-color: #d6371f;
    color: #fff;
}

.tb .tab-content {
    color: #aaaaaa;
    text-align: center;
    overflow: hidden;
}

.tb .tab-content>div {
    float: left;
    padding-bottom: 20px;
    background-color: #efefef;
}

.tb .tab-content img {
    display: block;
    margin-bottom: 13px;
}

.tb .tab-content>div+div {
    margin-left: 1px;
}

.tb .tab-content>div:hover {
    background-color: #d6371f;
    color: #fff;
}

.tb .tab-content>div:hover .col2, .tb .tab-content>div:hover a.btn {
    color: #fff;
}

.tb .tab-content a.btn {
    margin-top: 1px;
}

.tb1 {
    padding-top: 29px;
}

.tb1 .nav li {
    font-size: 12px;
    line-height: 16px;
}

.tb1 .nav li  a {
    padding-top: 19px;
    position: relative;
    min-width: 106px;
    padding-left: 48px;
    text-align: center;
    padding-bottom: 24px;
}
.tb1 .nav li a:hover, .tb1 .nav li.selected a {
    background-color: #e7432b;
    padding-top: 22px;
    padding-bottom: 21px;

}

.tb1 .nav li a:after {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    height: 59px;
    width: 59px;
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    background-position: 0 bottom;
}


.tb1 .nav li.selected  a:after, .tb1 .nav li a:hover:after  {
    background-position: 0 0;
}




.tb1 .tab-content {
    overflow: hidden;
    padding-top: 68px;
}

.tb1 .col2 {
    margin-bottom: 2px;
    font-weight: bold;
}

.tb1 p {
    padding-top: 5px;
    margin-bottom: 10px;
}

.tb1 a.btn {
    margin-top: 10px;
}

.tb1 .clear {
    height: 16px;
}

.stars {
    margin-left: 10px;
    font-size: 0;
    line-height: 0;
    padding-top: 3px;
 display: inline-block;
}

.stars span+span {
    margin-left: 2px;
}

.stars span {
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url(../images/stars.png) right 0 no-repeat;
}

.stars span.active {
    background-position: 0 0;
}

blockquote {
    margin-top: -3px;
}

blockquote .col2 {
    font-weight: bold;
}

blockquote  p {
    margin-bottom: 14px;
}

blockquote+blockquote {
    margin-top: 24px;
}

blockquote+blockquote p {
    margin-bottom: 13px;
}

blockquote+blockquote+blockquote {
    margin-bottom: 8px;
    margin-top: 19px;
}


blockquote+blockquote+blockquote p {
    margin-bottom: 15px;
}

.block1 {
    overflow: hidden;
}

.block1+.block1 {
    margin-top: 16px;
}

.block1  .col2 {
    padding-bottom: 3px;
}

.block1 p {margin-bottom: 13px;}

.block1 .col1 {
    font-weight: bold;
    margin-bottom: 13px;
}

.block1 .col1 a {
    display: inline-block;
}

.block1 .col1 a +a {
    margin-left: 10px;
}
/**Map**/

.map {
    padding-bottom: 10px;
    overflow: hidden;
    position: relative;
    top: -1px;
    margin-bottom: 6px;
}
 

.map figure {
    position: relative;
    float: left;
    top: 5px;
	display: block;
    margin-right: 20px;
	width: 512px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}


.map figure iframe {
	width: 100%;
	height: 267px;
	max-width: 100%;
}
.map address {
    float: left;
	display: block;
}

.map address+address {
    margin-left: 64px;
}

.map  p {
    margin-bottom: 22px;
}


.map address dt {
    margin-bottom: 18px;
}

 address dd span {
	min-width: 82px;
	display: inline-block;
	text-align: left;
}

.map address dd span.col1 {
	min-width: 0;
}


/**Footer**/
footer {
    font: 12px/14px 'Patua One', cursive;
    text-transform: uppercase;
	display: block;
    letter-spacing: 1px;
    padding: 0 0 30px;
    border-top: 4px solid #e6e6e6;
}

footer ul {
    color: #1f1f1f;
    padding-top: 41px;
}

footer ul li {
    padding-left: 15px;
    background: url(../images/marker.png) 0 5px no-repeat;
}

footer ul li a:hover {
    color: #bcbcbc;
}

footer ul li+li {
    margin-top: 10px;
}

.copy  {
    color: #bcbcbc;
    margin-top: -4px;
}

a.f_logo {
    display: block;
    float: left;
    margin-right: 15px;
}

.copy div {
    overflow: hidden;
    padding-top: 130px;
}

.copy strong{


}

#newsletter {
    position: relative;
    padding-top: 5px;

}



#newsletter .rel {
    position: relative;
    overflow: visible;
}

#newsletter .email {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 10px;
}

#newsletter .title{
    padding-top: 38px;
    letter-spacing: 1px;
    margin-bottom: 17px;
    color: #bbbbbb;
    font: 28px/30px 'Patua One', cursive;
}


#newsletter input {
      border: 1px solid #e7e8e8;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    box-shadow: none !important;
    width: 100%;
     color: #aaaaaa;
    font: bold 13px/18px 'Trebuchet MS', Arial, Helvetica, sans-serif;
    height: 31px;
    padding: 6px 9px 7px;
    -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-appearance: none;
}

#newsletter a {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/subscribe_icon.png) 0 0 no-repeat #d6371f;
    width: 41px;
    height: 31px;

}

#newsletter a:hover {
   background-color: #d4d4d4; 
}






#newsletter .error, #form1 .empty {     
    height:0px;
    bottom: 4px;
    width: 100%;
    left: 0;
    text-align: right;
    font-size: 10px;
    line-height: 13px;
    display: block;
    overflow: hidden;
    z-index: 999;
    color: #ff0000;
    -webkit-transition:  0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
    position: absolute;
    }

#newsletter label.invalid .error {
    /*display: block;*/
    height:40px;

}

#newsletter .success {
    width: 100%;
    top: 0px;
    border: 1px solid #ececec;
    z-index: 999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; 
    display: none;  
    background: #fff;
    left: 0px;
    overflow: hidden;
    padding: 15px;
    -webkit-transition:  0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
    position: absolute;
}


#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 500px;
    overflow: hidden;
    width: 35px;
    height: 34px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {
 body {
 min-width: 768px;
}

 .map address+address {
    float: left;
 	margin-left: 30px;
 }
 .map figure,  .map figure iframe,  #form input,  #form textarea,  #form .success {
 width: 100% !important;
 float: none !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}
 .extra_wrapper {
 overflow: visible;
}

.map figure {
	margin-bottom: 15px;
}

.nowrap {
    white-space: normal;
}

.tb .tab-content > div {
    width: 142px;
}

.tb1 .nav li  a {
    min-width: 110px;
    padding-right: 20px;
}

.nav li a {
    min-width: 45px;
}

}
@media only screen and (max-width: 767px) {
 body {
 min-width: 420px;
}

 .nav li  {
    float: none;
}

.nav li+li {
    margin-top: 1px;
    margin-left: 0px;
}

    .links {
        width: auto;
    }

    .tb .tab-content > div {
        width: 139px;
    }

    .nav li a {
        min-width: 0;
    }
    .autor {
        text-align: left;
    }

    .copy {
        padding-top: 25px;
        margin-top: 0;
    }

    footer>div>div {
        display: block !important;
        overflow: hidden !important;
        width: 50% !important;
        float: left !important;
    }

 .map address {
    float: none;
    margin-left: 0 !important;
 }

    .f_logo {
        float: none !important;
    }

    .copy>div {
        padding-top: 10px;
    }

  .map address +address {
    margin-top: 30px;
  }


header h1 {
	display: block;
	width: auto;
    position: relative;
	height: auto;
}




.img_inner {
width: 100% !important;
float: none !important;
margin-right: 0 !important;
margin-bottom: 20px !important;
}

h1 a {
	max-width: 90%;
}


.img_inner img {
	width: 100%;
}


 header h1 {
 margin-bottom: 20px;
 float: none;
 text-align: center;
}
 header h1 a {
 	width: auto;
 	display: inline-block;
 height: auto;
}
 header h1 a img {
}

 .map {
 	padding-right: 0px !important;
 }

 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}


 .content .noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}

 .img_inner {
 margin-top: 20px;
}


    #search {
        width: auto;
    }

    #search .fright {
        float: none !important;
        clear: left;
        padding-top: 20px;
    }
    #search .fright>a {
        display: inline-block;
    }

    .none {
        clear: both;
    }

    h3 {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 479px) {
 body {
 min-width: 300px;
}


.tb .tab-content > div {
    width: 99px;
}

}
